snippet fun
	public function ${1}() {
		${2}
	}

snippet pfun
	protected function ${1}() {
		${2}
	}

snippet sfun
	public static function ${1}() {
		${2}
	}

snippet afun
	function () {
		${1}
	}

snippet $
	$this->${1}
